<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<script src="https://kit.fontawesome.com/3da1a747b2.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<script src='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
	<title>DevCamper | Find a coding bootcamp</title>
</head>

<body>
	<!-- Navbar -->
	<%- include('./insertview/navigation.ejs')%>


	<section class="bootcamp mt-5">
		<div class="container">
			<div class="row">
				<!-- Main col -->
				<div class="col-md-8">
					<h1><%= bootCamp.name%></h1>
					<!-- Description -->
					<p><%= bootCamp.description%></p>
					<!-- Avg cost -->
					<p class="lead mb-4">Average Course Cost: <span class="text-primary"><%= bootCamp.averageCost
							%></span></p>
					<!-- Courses -->

					<% for (let data of bootCamp.courses) {%>
					<div class="card mb-3">
						<h5 class="card-header bg-primary text-white">Front End Web Development</h5>
						<div class="card-body">
							<h5 class="card-title"><%= data.weeks%> week</h5>
							<p class="card-text"><%= data.description%></p>
							<ul class="list-group mb-3">
								<li class="list-group-item"><%= data.averageCost%></li>
								<li class="list-group-item">Skill Required: <%= data.minimumSkill%></li>
								<li class="list-group-item">Scholarship Available: <i class="fas fa-check text-success"></i> </li>
							</ul>
						</div>
					</div>
					<% } %>


				</div>
				<!-- Sidebar -->
				<div class="col-md-4">
					<!-- Image -->
					<img src="/img/<%= bootCamp.photo%>" class="img-thumbnail" alt="">
					<!-- Rating -->
					<h1 class="text-center my-4"><span
							class="badge badge-secondary badge-success rounded-circle p-3"><%= bootCamp.averageRating%></span>
						Rating</h1>
					<!-- Buttons -->
					<a href="/api/v1/bootcamps/<%= bootCamp.id%>/reviews" class="btn btn-dark btn-block my-3"><i
							class="fas fa-comments"></i> Read Reviews</a>
					<a href="add-review.html" class="btn btn-light btn-block my-3"><i class="fas fa-pencil-alt"></i> Write a
						Review</a>
					<a href="#" target="_blank" class="btn btn-secondary btn-block my-3"><i class="fas fa-globe"></i> Visit
						Website</a>
					<!-- Map -->
					<div id='map' style='width: 100%; height: 300px;'></div>
					<!-- Perks -->
					<ul class="list-group list-group-flush class=" mt-4">

						<% if( bootCamp.housing === false) { %>
						<li class="list-group-item"><i class="fas fa-times text-danger"></i> Housing</li>
						<% } else{ %>
						<li class="list-group-item"><i class="fas fa-check text-success"></i> Housing</li>
						<% } %>

						<% if( bootCamp.jobAssistance === false) { %>
							<li class="list-group-item"><i class="fas fa-times text-danger"></i> Job Assistance</li>
						<% } else{ %>
							<li class="list-group-item"><i class="fas fa-check text-success"></i> Job Assistance</li>
						<% } %>

						<% if( bootCamp.jobGuarantee === false) { %>
							<li class="list-group-item"><i class="fas fa-times text-danger"></i> Job Guarantee</li>
						<% } else{ %>
							<li class="list-group-item"><i class="fas fa-check text-success"></i> Job Guarantee</li>
						<% } %>

						<% if( bootCamp.acceptGi === false) { %>
							<li class="list-group-item"><i class="fas fa-times text-danger"></i> Accepts GI Bill</li>
						<% } else{ %>
							<li class="list-group-item"><i class="fas fa-check text-success"></i> Accepts GI Bill</li>
						<% } %>
					</ul>
				</div>
				<%= boot%>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>