<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<script src="https://kit.fontawesome.com/3da1a747b2.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="shortcut icon" type="/img/icon" href="img/favicon.ico">
	<script src="https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js"></script>
	<link href="https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css" rel="stylesheet" />
	<title>Manage rewiews</title>
</head>

<body>
	<!-- Navbar -->
	<%- include('./insertview/navigation.ejs')%>

	<section class="container mt-5">
		<div class="row">
			<div class="col-md-8 m-auto">
				<div class="card bg-white py-2 px-4">
					<div class="card-body">
						<h1 class="mb-4">Manage Reviews</h1>
						<table class="table table-striped" id="tabela">

							<thead>
								<tr>
									<th scope="col">Bootcamp</th>
									<th scope="col">Rating</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<!-- _id: 5f186557e976db0ed029b6d5,
							title: 'Great bootcamp',
							text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra feugiat mauris id viverra. ',
							rating: 7.99,
							bootcamp: [Object],
							user: [Object],
							createdAt: 2020-07-22T16:12:07.937Z, -->

							<tbody>
								<% for (let data of reviews) {%>
								<tr>
									<td><%= data.title%></td>
									<td><%= data.rating%></td>
									<td>
										<a href="" class="btn btn-secondary edit" name="edit" id="<%= data._id %>"
											title="Brisanje iz BackEnda"><i class="fas fa-pencil-alt"></i></a>
										<a href="" class="btn btn-danger brisi" name="brisi" id="<%= data._id %>"
											title="Brisanje iz Frontenda"><i class="fas fa-times"></i></a>
										<button class="btnmoj" type="button" title="Brisanje iz Frontenda"
											onclick="deleteDataFrontend(this)">DeleteFrontend</button>
									</td>
								</tr>
								<% } %>
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/js/admin.js"></script>
	<script>

		// // Create reset URL
		// const resetUrl = `${req.protocol}://${req.get(
		//   'host'
		// )}/api/v1/auth/resetpassword/${resetToken}`;

		document.getElementById('tabela').addEventListener('click', e => {
			e.preventDefault()
			const zapis = e.path.map(data => {
				return data
			})

			// console.log(zapis);

			let id;
			zapis.forEach((data, index) => {
				if (index < zapis.length - 2) {
					if (data.classList.contains('edit')) {
						id = data.getAttribute("id")
						getOneReview(data.getAttribute("id"))
						console.log('Edit', data.getAttribute("id"));
					}

					// Stisnuta je tipka delete
					if (data.classList.contains('brisi')) {
						console.log('tutut', data.getAttribute("id"));
						deleteData(data.getAttribute("id"))
						refreshPage()
					}
				}
			})
		})


		const deleteData = async (id) => {
			try {
				console.log('link=', `<%= port %>/api/v1/reviews/${id}`);

				const deleteResponse = await fetch(`<%= port %>/api/v1/reviews/${id}`, {method: 'DELETE',});

				if (deleteResponse.status === 401) {
					console.log('Delete Nije uspio', deleteResponse);

					location.assign(`/api/v1/view/errorNemaOvlasti`)

					errorData = {
						"error": " Greška kod slanja",
						"statuscode": 111
					}
					const vidiGresku = posaljiGresku(errorData);

					window.location.reload(true)
				}
			} catch (error) {
				console.log(' deleteData=', error);
			}
		};

		const posaljiGresku = async (errorData) => {
			return await fetch(`<%= port %>/api/v1/view/error`, {
				method: 'POST',
				body: JSON.stringify(errorData),
				headers: {
					'Content-type': 'application/json; charset=UTF-8'
				},
			});
		};

		const refreshPage = async (id) => {
			try {
				const res = await fetch(`<%= port %>/api/v1/reviews`, {
					method: 'GET',
				});
				console.log('REFRES JE uspio');
				window.location.reload(true)
			} catch (error) {
				console.log(error);
			}
		};

		const getOneReview = async (id) => {
			try {
				const res = await fetch(`<%= port %>/api/v1/reviews/${id}`, {
					method: 'GET',
				});
				console.log('getOneReview  JE uspio');
				location.assign(`/api/v1/reviews/${id}`)
			} catch (error) {
				console.log(error);
			}
		};

	</script>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>