<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<script src="https://kit.fontawesome.com/3da1a747b2.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<script src="https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js"></script>
	<link href="https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css" rel="stylesheet" />
	<title>Edit review</title>
</head>

<body>
	<!-- Navbar -->
	<%- include('./insertview/navigation.ejs')%>


	<section class="container mt-5">
		<div class="row">
			<div class="col-md-8 m-auto">
				<div class="card bg-white py-2 px-4">
					<div class="card-body">
						<a href="/api/v1/bootcamps/<%= review.bootcamp._id%>" class="btn btn-link text-secondary my-3"><i
								class="fas fa-chevron-left"></i>
							Bootcamp Info</a>
						<h1 class="mb-2"><%= review.title%></h1>
						<h3 class="text-primary mb-4">Write a Review</h3>
						<p>
							You must have attended and graduated this bootcamp to review
						</p>

						<form action="">
							<div class="form-group">
								<label for="rating" id="labelRating" >Rating: <span class="text-primary"
										id="spanValue"><%= review.rating%></span></label>
								<input type="range" class="custom-range" min="1" max="10" step="1" id="rating" name="rating"
									value="<%= review.rating%>" />
							</div>
							<div class="form-group">
								<input type="text" name="title" id="title" class="form-control" placeholder="Review title"
									value="<%= review.title%>" />
							</div>
							<div class="form-group">
								<textarea name="text" id="textPolje" rows="10" class="form-control"
									placeholder="Your review"><%= review.text%></textarea>
							</div>
							<div class="form-group">
								<input value="Submit Review" class="btn btn-dark btn-block" id="noveVrijednosti" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		const labelRating = document.getElementById('labelRating')
		const title = document.getElementById('title')
		const textPolje = document.getElementById('textPolje')
		const rating = document.getElementById('rating')
		const spanValue = document.getElementById('spanValue')

		rating.addEventListener('change', e=>{
				spanValue.textContent = e.target.value
		})

		document.getElementById("noveVrijednosti").addEventListener('click', e => {
			e.preventDefault()
			try {
				update = {
					"title": title.value,
					"text": textPolje.value,
					"rating": spanValue.textContent
				}

				posaljiPodatak(update);
				console.log('POST JE uspio');
			} catch (error) {
				console.log(error);
			}

		});


		const posaljiPodatak = async (update) => {
			const data = {
				userId: 11,
				id: 2,
				title: 'coding task',
				completed: false
			}

			console.log(`/api/v1/reviews/<%= review._id %>`);

			await fetch(`/api/v1/reviews/<%= review._id %>`, {
				method: 'PUT',
				body: JSON.stringify(update),
				headers: {
					//type of data
					'Content-type': 'application/json; charset=UTF-8'
				}
			});
		};


	</script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>